@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap&#39');

*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    block-size: 80dvh;
    flex-wrap: wrap;
}

li{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

li img{
    inline-size: 200px;
    block-size: 250px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 30px;
    border: none;
    background-color: #D3A470;
    border-radius: 10px;
   color: white;
}
.filtro{
    align-items:center;
    justify-content:center;
    display: flex;
}
span{
    background-color: #D3A470;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    margin: 15px;
    width: 280x;
    height: 50px;
    text-align: center;
}

.product-list{
    align-items:center;
    justify-content:center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.grao{
position: absolute;
top: 0;
right: -10px;

}